<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>앨범 목록</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<a href="/" class="home-button">홈으로</a>
<body>
<h2>앨범 목록</h2>
<table>
  <thead>
  <tr>
    <th>앨범 ID</th>
    <th>앨범명</th>
    <th>대표곡</th>
    <th>발매년도</th>
    <th>장르</th>
    <th>아티스트</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="album : ${albumList}">
    <td><a th:href="@{/album/{id}(id=${album.albumId})}" th:text="${album.albumId}"></a></td>
    <td th:text="${album.albumName}"></td>
    <td th:text="${album.titleSong}"></td>
    <td th:text="${album.releaseDate}"></td>
    <td th:text="${album.genre}"></td>
    <td th:text="${album.artist}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>